# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
*.egg
dist/
build/

# Django
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environment
.env
venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo
