{% extends 'base.html' %} {% block content %}

<h1>Lista de Clientes</h1>

<a href="{% url 'clientes:novo_cliente' %}" class="btn btn-primary mb-3"> Novo Cliente </a>

{% for cliente in clientes %}

<div class="card mb-3">
   <div class="card-body">
      <h5>{{ cliente.nome }}</h5>

      <p>Email: {{ cliente.email }}</p>

      <p>Telefone: {{ cliente.telefone }}</p>

      <p>Endereço: {{ cliente.endereco}}</p>

      <p>Data de nascimento: {{ cliente.data_nascimento|date:'d/m/Y' }}</p>

      <p>CPF: {{ cliente.cpf }}</p>

      <a href="{% url 'clientes:editar_cliente' cliente.id %}" class="btn btn-warning">
         Editar
      </a>

      <a href="{% url 'clientes:excluir_cliente' cliente.id %}" class="btn btn-danger">
         Excluir
      </a>
   </div>
</div>

{% endfor %} {% endblock %}

<!--<hr />


<p>Nome: {{ cliente.nome }}</p>
<p>Telefone: {{ cliente.telefone }}</p>
<p>Email: {{ cliente.email }}</p>
<p>Endereço: {{ cliente.endereco }}</p>
<p>CPF: {{ cliente.cpf }}</p>
<hr />

<a href="/clientes/{{ cliente.id }}/editar/"> Editar Cliente </a>

<hr />

<a href="/clientes/{{cliente.id}}/excluir/">Excluir Cliente</a>

<hr />

-->
